<html>
	<head>
		<title>
			Labels
		</title>
		<link rel="stylesheet" type="text/css" href="static/css/musicmadness.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script type="text/javascript" src="static/js/jquery-latest.js"></script> 
		<script type="text/javascript" src="static/js/jquery.tablesorter.js"></script> 
		<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $("#myTable").tablesorter(); 
		    } 
		);
		</script>
		<style type="text/CSS">
		/* Style table */
		table {
			margin: auto;
			margin-top: 5px;
			padding: 20px;
			width: 98%;
		}
		table, th, td {
			text-align: center;
		}
		th, td{
			padding: 10px;
		}
		img {
			width: 150px;
		}
		h1{
			text-align: center;
    		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    		padding-bottom: 5px;
    		margin: auto;
    		line-height: 1.5;
		}
		li a {
    		color: white;
    	}
    	#updown{
    		width: 20px;
    		float: right;
    	}
		</style>
	</head>
	<body>
		<ul class="nav nav-pills navbar-inverse">
	        <li><a href={{ url_for('index') }}>Music Madness</a></li>
	        <li><a href={{ url_for('about') }}>About</a></li>
	        <li><a href={{ url_for('songs') }}>Songs</a></li>
	        <li><a href={{ url_for('artists') }}>Artists</a></li>
	        <li class="active"><a href={{ url_for('labels') }}>Labels</a></li>
	    </ul>
		<h1><strong>Labels</strong></h1>
		<table id="myTable" class = "tablesorter table-striped table-bordered">
			<thead>
				<tr>
					<th>Logo</th>
					<th>Name<img id="updown" src="/static/images/updown.png"></th>
					<th>Founded<img id="updown" src="/static/images/updown.png"></th>
					<th>CEO<img id="updown" src="/static/images/updown.png"></th>
					<th>Location<img id="updown" src="/static/images/updown.png"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Epic_Records.svg/160px-Epic_Records.svg.png" alt = "Epic Logo" ></td>
					<td><a href={{ url_for('epic') }}>Epic Records</a></td>
					<td>1953</td>
					<td>L.A. Reid</td>
					<td><a href="https://www.google.com/maps/place/Tokyo,+Japan/@35.6735763,139.4302063,10z/data=!3m1!4b1!4m5!3m4!1s0x605d1b87f02e57e7:0x2e01618b22571b89!8m2!3d35.6894875!4d139.6917064">Tokyo, Japan</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/DefJamRecordings.svg/115px-DefJamRecordings.svg.png" alt = "Def Jam Logo" ></td>
					<td><a href={{ url_for('def_jam') }}>Def Jam Recordings</a></td>
					<td>1983</td>
					<td>Steve Bartels</td>
					<td><a href="https://www.google.com/maps/place/New+York,+NY/@40.705311,-74.258188,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127837!4d-74.0059413">New York City, NY</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Island-logo.gif/180px-Island-logo.gif" alt = "Island Logo" ></td>
					<td><a href={{ url_for('island') }}>Island Records</a></td>
					<td>1959</td>
					<td>David Massey</td>
					<td><a href="https://www.google.com/maps/place/New+York,+NY/@40.705311,-74.258188,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127837!4d-74.0059413">New York City, NY</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/thumb/7/7b/Bm_records.jpg/200px-Bm_records.jpg" alt = "Big Machine Logo" ></td>
					<td><a href={{ url_for('bigmachine') }}>Big Machine Records</a></td>
					<td>2005</td>
					<td>Scott Borchetta</td>
					<td><a href="https://www.google.com/maps/place/Nashville,+TN/@36.1868683,-87.0654269,10z/data=!3m1!4b1!4m5!3m4!1s0x8864ec3213eb903d:0x7d3fb9d0a1e9daa0!8m2!3d36.1626638!4d-86.7816016">Nashville, TN</td>
				</tr>
			</tbody>
		</table>
        <div style="text-align:center; margin:20px">
            <ul class="pagination">
              <li><a href={{ url_for('labels') }}>1</a></li>
              <li><a href={{ url_for('labels_2') }}>2</a></li>
              <li class="active"><a href={{ url_for('labels_3') }}>3</a></li>
            </ul>
        </div>
	</body>
</html>
