<html>
	<head>
		<title>
			Songs
		</title>
		<link rel="stylesheet" type="text/css" href="/static/css/musicmadness.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script type="text/javascript" src="/static/js/jquery-latest.js"></script> 
		<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script> 
		<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $("#myTable").tablesorter(); 
		    } 
		);
		</script>
		<style type="text/CSS">
		/* Style table */
		table {
			margin: auto;
			margin-top: 5px;
			padding: 20px;
			width: 98%;
		}
		table, th, td {
			text-align: center;
		}
		th, td{
			padding: 10px;
		}
		img {
			width: 150px;
		}
		.pagination{
			margin: auto;
			padding: 5px;
		}
		h1{
			text-align: center;
    		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    		padding-bottom: 5px;
    		margin: auto;
    		line-height: 1.5;
		}
		li a {
    		color: white;
    	}
    	#updown{
    		width: 20px;
    		float: right;
    	}
    	#length{
    		width: 130px;
    	}
		</style>
	</head>
	<body>
		<ul class="nav nav-pills navbar-inverse">
	        <li><a href={{ url_for('index') }}>Music Madness</a></li>
	        <li><a href={{ url_for('about') }}>About</a></li>
	        <li class="active"><a href={{ url_for('songs') }}>Songs</a></li>
	        <li><a href={{ url_for('artists') }}>Artists</a></li>
	        <li><a href={{ url_for('labels') }}>Labels</a></li>
	    </ul>
		<h1><strong>Songs</strong></h1>
		<table id="myTable" class = "tablesorter table-striped table-bordered">
			<thead>
				<tr>
					<th class="header">Cover</th>
					<th>Title<img id="updown" src="/static/images/updown.png"></th>
					<th>Album<img id="updown" src="/static/images/updown.png"></th>
					<th>Artist<img id="updown" src="/static/images/updown.png"></th>
					<th>Release<img id="updown" src="/static/images/updown.png"></th>
					<th id="length">Length<img id="updown" src="/static/images/updown.png"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/5/53/Beyonce_-_Lemonade_(Official_Album_Cover).png" alt = "Lemonade Cover" ></td>
					<td><a href={{ url_for('sorry_beyonce') }}>Sorry</a></td>
					<td>Lemonade</td>
					<td><a href={{ url_for('beyonce') }}>Beyonce</a></td>
					<td>May 3, 2016</td>
					<td>3:52</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/7/7d/Blurryface_by_Twenty_One_Pilots.png" alt = "Blurryface Cover" ></td>
					<td><a href={{ url_for('StressedOut_21Pilots') }}>Stressed Out</a></td>
					<td>Blurryface</td>
					<td><a href={{ url_for('twentyonepilots') }}>Twenty One Pilots</a></td>
					<td>November 10, 2015</td>
					<td>3:22</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/3/32/Rihanna_-_Anti.png" alt = "Anti Cover" ></td>
					<td><a href={{ url_for('work_rihanna') }}>Work</a></td>
					<td>Anti</td>
					<td><a href={{ url_for('rihanna') }}>Rihanna</a></td>
					<td>January 27, 2016</td>
					<td>3:39</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/2/22/Collage%2C_album_cover.jpg" alt = "Collage Cover" ></td>
					<td><a href={{ url_for('closer_chainsmokers') }}>Closer</a></td>
					<td>Collage</td>
					<td><a href={{ url_for('thechainsmokers') }}>The Chainsmokers</a></td>
					<td>July 29, 2016</td>
					<td>4:04</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/thumb/4/45/Divide_cover.png/220px-Divide_cover.png" alt = "Divide Cover" ></td>
					<td><a href={{ url_for('shapeofyou_edsheeran') }}>Shape of You</a></td>
					<td>Divide</td>
					<td><a href={{ url_for('edsheeran') }}>Ed Sheeran</a></td>
					<td>January 6, 2017</td>
					<td>3:53</td>
				</tr>
			</tbody>
		</table>
        <div style="text-align:center; margin:20px">
            <ul class="pagination">
              <li class="active"><a href={{ url_for('songs') }}>1</a></li>
              <li><a href={{ url_for('songs_2') }}>2</a></li>
              <li><a href={{ url_for('songs_3') }}>3</a></li>
            </ul>
        </div>
	</body>
</html>