<html>
	<head>
		<title>
			Songs
		</title>
		<link rel="stylesheet" type="text/css" href="static/css/musicmadness.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script type="text/javascript" src="static/js/jquery-latest.js"></script> 
		<script type="text/javascript" src="static/js/jquery.tablesorter.js"></script> 
		<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $("#myTable").tablesorter(); 
		    } 
		);
		</script>
		<style type="text/CSS">
		/* Style table */
		table {
			margin: auto;
			margin-top: 5px;
			padding: 20px;
			width: 98%;
		}
		table, th, td {
			text-align: center;
		}
		th, td{
			padding: 10px;
		}
		img {
			width: 150px;
		}
		.pagination{
			margin: auto;
			padding: 5px;
		}
		h1{
			text-align: center;
    		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    		padding-bottom: 5px;
    		margin: auto;
    		line-height: 1.5;
		}
		li a {
    		color: white;
    	}
    	#updown{
    		width: 20px;
    		float: right;
    	}
    	#length{
    		width: 130px;
    	}
		</style>
	</head>
	<body>
		<ul class="nav nav-pills navbar-inverse">
	        <li><a href={{ url_for('index') }}>Music Madness</a></li>
	        <li><a href={{ url_for('about') }}>About</a></li>
	        <li class="active"><a href={{ url_for('songs') }}>Songs</a></li>
	        <li><a href={{ url_for('artists') }}>Artists</a></li>
	        <li><a href={{ url_for('labels') }}>Labels</a></li>
	    </ul>
		<h1><strong>Songs</strong></h1>
		<table id="myTable" class = "tablesorter table-striped table-bordered">
			<thead>
				<tr>
					<th class="header">Cover</th>
					<th>Title<img id="updown" src="/static/images/updown.png"></th>
					<th>Album<img id="updown" src="/static/images/updown.png"></th>
					<th>Artist<img id="updown" src="/static/images/updown.png"></th>
					<th>Release<img id="updown" src="/static/images/updown.png"></th>
					<th id="length">Length<img id="updown" src="/static/images/updown.png"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/thumb/e/ea/7-27_%28Deluxe_Edition%29_%28Official_Album_Cover%29_by_Fifth_Harmony.png/220px-7-27_%28Deluxe_Edition%29_%28Official_Album_Cover%29_by_Fifth_Harmony.png" alt = "7/27 Cover" ></td>
					<td><a href={{ url_for('workfromhome_fifthharmony') }}>Work from Home</a></td>
					<td>7/27</td>
					<td><a href={{ url_for('fifthharmony') }}>Fifth Harmony</td>
					<td>February 26, 2016</td>
					<td>3:34</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/thumb/9/9b/Unapologetic_-_Rihanna.png/220px-Unapologetic_-_Rihanna.png" alt = "Unapologetic Cover" ></td>
					<td><a href={{ url_for('stay_rihanna') }}>Stay</a></td>
					<td>Unapologetic</td>
					<td><a href={{ url_for('rihanna') }}>Rihanna</a></td>
					<td>January 7, 2013</td>
					<td>3:34</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/Hozier_album.jpg/220px-Hozier_album.jpg" alt = "Hozier Cover" ></td>
					<td><a href={{ url_for('takemetochurch_hozier') }}>Take Me to Church</a></td>
					<td>Hozier</td>
					<td><a href={{ url_for('hozier') }}>Hozier</td>
					<td>September 13, 2013</td>
					<td>4:02</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/en/thumb/f/f6/Taylor_Swift_-_1989.png/220px-Taylor_Swift_-_1989.png" alt = "1989 Cover" ></td>
					<td><a href={{ url_for('badblood_taylorswift') }}>Bad Blood</a></td>
					<td>1989</td>
					<td><a href={{ url_for('taylorswift') }}>Taylor Swift</a></td>
					<td>May 17, 2015</td>
					<td>3:19</td>
				</tr>
				<tr>
					<td><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Beyonc%C3%A9_-_Beyonc%C3%A9.svg/220px-Beyonc%C3%A9_-_Beyonc%C3%A9.svg.png" alt = "Beyonce Cover" ></td>
					<td><a href={{ url_for('xo_beyonce') }}>XO</a></td>
					<td>Beyonce</td>
					<td><a href={{ url_for('beyonce') }}>Beyonce</td>
					<td>December 16, 2013</td>
					<td>3:36</td>
				</tr>
			</tbody>
		</table>
        <div style="text-align:center; margin:20px">
            <ul class="pagination">
              <li><a href={{ url_for('songs') }}>1</a></li>
              <li><a href={{ url_for('songs_2') }}>2</a></li>
              <li class="active"><a href={{ url_for('songs_3') }}>3</a></li>
            </ul>
        </div>
	</body>
</html>