<!DOCTYPE html>
<html>

<head>
	<title>Rihanna</title>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/musicmadness.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
	<style type="text/css">
		h1,h2,h3,p, #media{
		text-align: center;}

	.featurette-heading {
				padding-top: 2em;
			}

	img{
		padding-top: 4em;
		padding-right: 4em;
	}

	table {
				float: left;
			}

			#table1 {
				margin: auto;
				margin-left: 6em;
				margin-top: 5px;
				padding: 20px;
				width: 40%;
			}

			#table2 {
				margin: auto;
				margin-left: 3em;
				margin-top: 5px;
				padding: 20px;
				width: 20%;
			}

			th, td {
				text-align: center;
				padding: 10px;
			}

	</style>
</head>

<body>
	<ul class="nav nav-pills navbar-inverse">
        <li><a href={{ url_for('index') }}>Music Madness</a></li>
        <li><a href={{ url_for('about') }}>About</a></li>
        <li><a href={{ url_for('songs') }}>Songs</a></li>
        <li class="active"><a href={{ url_for('artists') }}>Artists</a></li>
        <li><a href={{ url_for('labels') }}>Labels</a></li>
    </ul>

    <div class="row featurette">
        	<div class="col-md-7 col-md-push-4">
         		<h1 class="featurette-heading">Rihanna</h1>
          		<p class="lead">Barbadian singer, songwriter, and actress. She got her start in the industry by releasing demo tapes and auditioning for Jay Z. After signing, she began her solo career.</p>
          		<h3>Social Media Accounts</h3>
				<div id="media">
					<a href="http://www.facebook.com/rihanna" class="fa fa-facebook"></a>
					<a href="http://twitter.com/rihanna" class="fa fa-twitter"></a>
					<a href="http://www.instagram.com/badgalriri/" class ="fa fa-instagram"></a>
				</div>
        	</div>
		<div class="col-md-5 col-md-pull-7">
        		<img class="featurette-image img-responsive center-block" src="https://static01.nyt.com/images/2015/10/25/t-magazine/25tmag-11well_rihanna-t_CA0/25tmag-11well_rihanna-t_CA0-articleLarge-v2.jpg" alt = "HTML5 Icon" alt="Rihanna" height="400em" width="400em">
        </div>
        </div>

        <br><br>
	
<table class="table-striped table-bordered" id="table1">
			<tr><th>Origin</th><td> Saint Michael, Barbados </td></tr>
			<tr><th>Debut</th><td>2003</td></tr>
			<tr><th>Genre</th><td>R&B, Pop</td></tr>
		</table>

		<table class="table-striped table-bordered" id="table2"> 
			<tr><th>Labels</th></tr>
			<tr><td><a href={{ url_for('roc_nation') }}> Roc Nation</a></td></tr>
			<tr><td><a href={{ url_for('def_jam') }}> Def Jam Recordings</a></td></tr>
		</table>

		<table class="table-striped table-bordered" id="table2"> 
			<tr><th>Songs</th></tr>
			<tr><td><a href={{ url_for('stay_rihanna') }}>Stay</a></td></tr>
			<tr><td><a href={{ url_for('work_rihanna') }}>Work</a></td></tr>
		</table>		



</body>
</html>
