<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="static/css/musicmadness.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/CSS">
    h1{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
    table {
      margin: auto;
      width: 100%;
    }
    li a {
    color: white;
    }
    table, th, td {
     text-align: center;
    }
    img {
     margin: 5px;
    }
    #col{
        width: 75px;
    }
    </style>
</head>
<body>
    <ul class="nav nav-pills navbar-inverse">
        <li><a href={{ url_for('index') }}>Music Madness</a></li>
        <li class="active"><a href={{ url_for('about') }}>About</a></li>
        <li><a href={{ url_for('songs') }}>Songs</a></li>
        <li><a href={{ url_for('artists') }}>Artists</a></li>
        <li><a href={{ url_for('labels') }}>Labels</a></li>
    </ul>
    <div class="container">
        <h1 style="text-align:center"><strong>About Us</strong></h1>
        <h3 style='margin-top:20px'> Team Name: <strong>Music Madness!</strong></h3>
        <h3 style='margin-top:20px'> Team Members</h3>
        <table class = "table-striped table-bordered">
            <tr><th>Name</th><th>Image</th><th>Bio</th><th>Responsibilities</th><th id="col">Commits</th><th id="col">Issues</th></tr>
            <tr><td>Allen Fernandes</td><td><img src="static/images/memberPics/Allen.jpg" alt="Allen" style="width:100px;height:100px;"></td><td>Masters in Information Studies</td><td>Splash, About, Navigation</td><td>57</td><td>14</td></tr>
            <tr><td>Roger Craycroft</td><td><img src="static/images/memberPics/Roger.jpg" alt="Roger" style="width:100px;height:100px;"></td><td>Senior Year, B.S. Hydrogeology</td><td>Record label pages, Technical report Co-editor</td><td>28</td><td>14</td></tr>
            <tr><td>Blake Kappel</td><td><img src="static/images/memberPics/Blake.jpg" alt="Blake" style="width:100px;height:100px;"></td><td>Senior Year, International Relations & Global Studies</td><td>Song Pages, Technical report Co-editor</td><td>24</td><td>15</td></tr>
            <tr><td>Rebecca Bingham</td><td><img src="static/images/memberPics/Rebecca.jpg" alt="Rebecca" style="width:100px;height:100px;"></td><td>Senior Year, Management Information Systems</td><td>Artist Pages, Lead Tester</td><td>23</td><td>14</td></tr>
            <tr><td>Kayla Mayberry</td><td><img src="static/images/memberPics/Kayla.jpg" alt="Kayla" style="width:100px;height:100px;"></td><td>Senior Year, Mathematics</td><td>Model pages,Technical report Co-editor</td><td>35</td><td>16</td></tr> 
        </table><br>
        <div style="float:left; width:50%;text-align:center; margin-bottom:20px">
            <table class = "table-striped table-bordered">
                <tr><th colspan="2" style="font-size:18px">Stats</th></tr>
                <tr><td>Total number of commits:</td><td>170</td></tr>
                <tr><td>Total number of issues:</td><td>36</td></tr>
                <tr><td>GitHub Issue Tracker</td><td><a href='https://github.com/bkapp15/bkapp15.github.io/issues'>GitHub Issue Tracker</a></td></tr>
                <tr><td>GitHub Repo</td><td><a href='https://github.com/bkapp15/bkapp15.github.io'>GitHub Repo</a></td></tr>
                <tr><td>GitHub Wiki</td><td><a href='https://github.com/bkapp15/bkapp15.github.io/wiki'>GitHub Wiki</a></td></tr> 
            </table>
        </div>
        <div style="float:right; width:45%;text-align:center; margin-bottom:20px">
            <table class = "table-striped table-bordered">
                <tr><th colspan="2" style="font-size:18px">Tools</th></tr>
                <tr><td><a href='https://www.w3schools.com/html/'>HTML</a></td><td><a href='http://getbootstrap.com/'>Bootstrap</a></td></tr>
                <tr><td><a href='https://www.w3schools.com/css/'>CSS</a></td><td><a href='https://www.slack.com/'>Slack</a></td></tr>
                <tr><td><a href='https://www.w3schools.com/js/'>Javascript</a></td><td><a href='https://www.github.com/'>GitHub</a></td></tr>
            </table>
        </div>
    </div>
</body> 
</html>
